version: 2.1
orbs:
  node: circleci/node@4.1.0
  python: circleci/python@1.3.2
jobs:
  build-and-test:
    parameters:
      node-version:
        default: latest
        type: string
    executor: python/default
    steps:
      - checkout
      - node/install:
          node-version: '<< parameters.node-version >>'
      - node/install-packages
      - run:
          name: Build plugin
          command: npm run build
      - run: 
          name: Run tests
          command: npm test
      - run:
          command: mkdir heroku-nodejs-plugin-<< parameters.node-version >>
      - run:
          command: cp heroku-nodejs-plugin/* heroku-nodejs-plugin-<< parameters.node-version >>
      - persist_to_workspace:
          root: .
          paths:
            - heroku-nodejs-plugin-<< parameters.node-version >>
  create-github-release:
    parameters:
      node-version:
        default: latest
        type: string
    docker:
      - image: cimg/base:stable
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - node/install:
          node-version: << parameters.node-version >>
      - run:
          name: Install dependencies
          command: npm install --ignore-scripts --only=dev
      - run:
          name: Create release
          command: ./scripts/create-release.sh << parameters.node-version >>
  push-assets-to-github:
    parameters:
      node-version:
        default: latest
        type: string
    docker:
      - image: cimg/base:stable
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - node/install:
          node-version: << parameters.node-version >>
      - run:
          name: Install dependencies
          command: npm install --ignore-scripts --only=dev
      - run:
          name: Copy plugin to workspace
          command: cp -r /tmp/workspace/heroku-nodejs-plugin-<< parameters.node-version >> .
      - run:
          name: Run deploy script
          command: ./scripts/upload-assets.sh << parameters.node-version >>
workflows:
  build-plugin:
    jobs:
      - build-and-test:
          name: "Build and test Node 15 plugin"
          node-version: '15'
          # filters:
          #   branches:
          #     ignore: /.*/
          #   tags:
          #     only: /^v+(\d)*$/
      - build-and-test:
          name: "Build and test Node 14 plugin"
          node-version: '14'
          # filters:
          #   branches:
          #     ignore: /.*/
          #   tags:
          #     only: /^v+(\d)*$/
      - build-and-test:
          name: "Build and test Node 12 plugin"
          node-version: '12'
          # filters:
          #   branches:
          #     ignore: /.*/
          #   tags:
          #     only: /^v+(\d)*$/
      - build-and-test:
          name: "Build and test Node 10 plugin"
          node-version: '10'
          # filters:
          #   branches:
          #     ignore: /.*/
          #   tags:
          #     only: /^v+(\d)*$/
      - create-github-release:
          name: "Create GitHub Release"
          node-version: '15'
          # filters:
          #   branches:
          #     ignore: /.*/
          #   tags:
          #     only: /^v+(\d)*$/
          requires:
            - "Build and test Node 15 plugin"
            - "Build and test Node 14 plugin"
            - "Build and test Node 12 plugin"
            - "Build and test Node 10 plugin"
      - push-assets-to-github:
          name: "Upload Node 15 plugin"
          node-version: '15'
          requires:
            - "Create GitHub Release"
          # filters:
          #   branches:
          #     ignore: /.*/
          #   tags:
          #     only: /^v+(\d)*$/
      - push-assets-to-github:
          name: "Upload Node 14 plugin"
          node-version: '14'
          requires:
            - "Create GitHub Release"
          # filters:
          #   branches:
          #     ignore: /.*/
          #   tags:
          #     only: /^v+(\d)*$/
      - push-assets-to-github:
          name: "Upload Node 12 plugin"
          node-version: '12'
          requires:
            - "Create GitHub Release"
          # filters:
          #   branches:
          #     ignore: /.*/
          #   tags:
          #     only: /^v+(\d)*$/
      - push-assets-to-github:
          name: "Upload Node 10 plugin"
          node-version: '10'
          requires:
            - "Create GitHub Release"
          # filters:
          #   branches:
          #     ignore: /.*/
          #   tags:
          #     only: /^v+(\d)*$/
  # test-plugin:
  #   jobs:
  #     - build-and-test:
  #         name: "Build and test Node 15 plugin"
  #         node-version: '15'
  #         filters:
  #           branches:
  #             only: /.*/
  #           tags:
  #             ignore: /.*/
  #     - build-and-test:
  #         name: "Build and test Node 14 plugin"
  #         node-version: '14'
  #         filters:
  #           branches:
  #             only: /.*/
  #           tags:
  #             ignore: /.*/
  #     - build-and-test:
  #         name: "Build and test Node 12 plugin"
  #         node-version: '12'
  #         filters:
  #           branches:
  #             only: /.*/
  #           tags:
  #             ignore: /.*/
  #     - build-and-test:
  #         name: "Build and test Node 10 plugin"
  #         node-version: '10'
  #         filters:
  #           branches:
  #             only: /.*/
  #           tags:
  #             ignore: /.*/